<p style="color: green"><%= notice %></p>

<h1>Products</h1>
<%= link_to "New product", new_product_path , class:"btn btn-primary"%>
<div id="products">
  <% @products.each do |product| %>
    <p>
      <%= render product %>
    </p>
  <% end %>
</div>
